* {
  box-sizing:border-box;
}


h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgb(5, 1, 20);
  font-size: 1.5em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(199, 255, 243);
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  background-color: rgba(170, 117, 36, 0.822);
  border-radius: 10px;
}

h2,article {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  background-color: rgba(128, 250, 7, 0.945);opacity:0.8;
  border-style: solid;
  box-shadow: 7px 8px 10px black;
  border-radius: 10px;
  animation-name: change;
  animation-duration: 4s;
  
}


@keyframes change{
  from {background-color: cornflowerblue;}
  to   {background-color: darkgray;}
  
}

body {
  box-sizing: border-box;
  

}

p {
  font-size: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.portret {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  border: 3px solid #73AD21;
  border-radius: 50%;
  padding: 7px;
  box-shadow: 7px 8px 10px black;
  
}

article:hover {

  width: 30em;
  background-color: blueviolet;
  border-style: dashed;
  opacity: 1.0;
}